Repository DenisVerkhoturov/geney, pull requests merged in 2020-04, with the labels that each got.

#23 Реализовать поддержку формата Fasta
  assembler/src/main/scala/fasta/Fasta.scala
  assembler/src/main/scala/fasta/Parser.scala
  assembler/src/main/scala/fasta/Record.scala
Labels: assembler, dev

#25 Add test coverage
  .travis.yml
  README.md
  assembler/src/test/scala/graph/DeBruijnGraphSuite.scala
  build.sbt
  project/Dependencies.scala
  project/plugins.sbt
  stryker.sh
Labels: chore

#26 test: Add test for fasta class
  assembler/src/test/scala/fasta/FastaSpec.scala
Labels: assembler, test

#28 chore: Generate uber jar
  build.sbt
  project/plugins.sbt
Labels: chore
