Repository DenisVerkhoturov/geney, pull requests merged in 2020-05, with the labels that each got.

#29 Add pathfinding
  assembler/src/main/scala/graph/DeBruijnGraph.scala
  assembler/src/test/scala/graph/DeBruijnGraphSpec.scala
  build.sbt
  project/Dependencies.scala
  utils/src/main/scala/.gitkeep
  utils/src/main/scala/utils/StringUtils.scala
  utils/src/test/scala/.gitkeep
  utils/src/test/scala/utils/CustomMatchers.scala
  utils/src/test/scala/utils/StringUtilsSpec.scala
Labels: assembler, dev, test

#36 Git configuration
  .gitconfig
  git/.gitattributes
  git/.gitconfig
  git/.gitignore
  git/.gitmessage
  git/hooks/commit-msg.d/check-if-message-accords-with-style-guide.sh
  git/hooks/install.sh
  git/hooks/post-merge.d/update-hooks.sh
  git/hooks/template.sh
  git/init.sh
Labels: chore

#35 Configure uber jar
  build.sbt
Labels: chore

#38 Added Fastq support
  assembler/src/main/scala/fasta/Fasta.scala
  assembler/src/main/scala/fastq/Fastq.scala
  assembler/src/main/scala/fastq/Record.scala
  assembler/src/main/scala/parser/Parser.scala
  assembler/src/test/scala/fastq/FastqSpec.scala
  git/hooks/commit-msg.d/check-if-message-accords-with-style-guide.sh
  git/hooks/install.sh
  git/hooks/post-merge.d/update-hooks.sh
  git/hooks/template.sh
  git/init.sh
Labels: assembler, chore, test
